<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215065459780-72e2qniillhsotfpftsogf426df5ata5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215065459780-72e2qniillhsotfpftsogf426df5ata5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215065459780-6aipd6tn6etrlb1ih9flr5kid24ml9fn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzwtij1IfALNODMLk83yaT39PVpT8KaBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>215065459780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChatApps</string>
	<key>PROJECT_ID</key>
	<string>app-project-1b3c9</string>
	<key>STORAGE_BUCKET</key>
	<string>app-project-1b3c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215065459780:ios:4570140ac8356c91f2d011</string>
	<key>DATABASE_URL</key>
	<string>https://app-project-1b3c9.firebaseio.com</string>
</dict>
</plist>